/* style.css */

.table-custom {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  
  .table-custom thead {
    background-color: #2C3E50;
    border-radius: 10px 10px 0 0;
  }
  
  .table-custom th,
  .table-custom td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
  .table-container {
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 80%;
    margin-top: 1rem;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  thead th {
    background-color: #f8f9fa;
    color: white;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #e9ecef;
  }
  
  tbody td {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
  }
  
  