.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: inline-block;
    /* background transparente*/
    background-color: #F0E68C;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 10px  #2C3E50;
    width: 500px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2C3E50;
}

h2 {
    margin-bottom: 20px;
}

.switch-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ddd;
}
.form-buttons button {
    background-color: #2C3E50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
  }
  
  .form-buttons button:hover {
    background-color: #2C3E50;
  }
  

